<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
<!-- {% include head-custom-google-analytics.html %} -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-552KB5LZK4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-552KB5LZK4');
</script>

<!-- Google Search Console -->
<meta name="google-site-verification" content="Zt_L8JZ-Y2vvA2gHMGxvRk-FUzYRJI0MIvzcYiHwN0c" />

<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

<!-- OGP -->
<meta property="og:image" content="https://blog.hirokuma.work/assets/images/github.png" />
<meta name="twitter:image" content="https://blog.hirokuma.work/assets/images/github.png" />
<!-- end OGP -->

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8cb26327f2b74719be990437a59cb227"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- end custom head snippets -->
