---
---

@import "{{ site.theme }}";

$border-color: #159759;

#main_content {
    h2 {
        border-bottom: 3px solid $border-color;
    }
    h2::before {
        content: "";
    }

    h3 {
        border-bottom: 2px solid $border-color;
    }
    h3::before {
        content: "| ";
    }

    h4 {
        border-bottom: 1px solid $border-color;
    }
    h4::before {
        content: "|| ";
    }

    h5 {
        border-bottom: 1px solid $border-color;
    }
    h5::before {
        content: "||| ";
    }

    h6 {
        border-bottom: 1px solid $border-color;
    }
    h6::before {
        content: "|||| ";
    }
    img {
        box-shadow: 6px 6px #777777;
        border: solid 1px #777777;
    }
    code.highlighter-rouge {
        color: #ee56cf;
    }
    blockquote {
        background: #242424;
        color: #d95353;
        font-style: italic;
        border-left: {
            width: 8px;
            style: solid;
            color: rgb(80, 80, 80);
        }
    }
    li {
        margin-left: -1.5em;
        line-height: 1.5;
    }

    table {
        width: auto;
        border-collapse: collapse;
    }
    table th {
        background: #424242;
        border: solid 1px #6a6a6a;
    }
    table td {
        border: solid 1px #6a6a6a;
    }
    a {
        color: #2987f1;
    }
    a:visited {
        color: #b0b0ff;
    }

    .date {
        font-style: italic;
        color: #808080;
    }

    .toc {
        border: 1px solid #808080;
        background-color: #303030;
        display: inline-block;
        padding: 10px;
        margin-bottom: 20px;
    }
    .writer {
        color: #808080;
    }
    .tags {
        color: #808080;
    }
}
