<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>

        <!-- 検索窓: DuckDuckGo -->
        <form id="search-form" method="get" target="_blank">
          <input type="text" id="search-box" name="q" placeholder="サイト内検索">
          <input type="hidden" id="search-engine" value="">
          <div>
            <button type="button" onclick="submitSearch('duckduckgo')">DuckDuckGo検索</button>
            <button type="button" onclick="submitSearch('bing')">Bing検索</button>
            <button type="button" onclick="submitSearch('google')">Google検索</button>
          </div>
        </form>

        <script>
          function submitSearch(engine) {
            const form = document.getElementById('search-form');
            const input = document.getElementById('search-box');
            const query = input.value;
            const site = 'blog.hirokuma.work';

            let url = '';
            let fullQuery = `${query}  site:${site}`;

            switch(engine) {
              case 'duckduckgo':
                form.action = 'https://duckduckgo.com/';
                input.name = 'q';
                input.value = fullQuery;
                break;
              case 'bing':
                form.action = 'https://www.bing.com/search';
                input.name = 'q';
                input.value = fullQuery;
                break;
              case 'google':
                form.action = 'https://www.google.com/search';
                input.name = 'q';
                input.value = fullQuery;
                break;
            }

            form.submit();
          }
        </script>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <section id="downloads">
      <a href="https://blog.hirokuma.work/"><img src="/assets/images/footer.png"><br/>&nbsp;&lt;&nbsp;Top page</a><br/><br/>
      <img src="/assets/images/bullet.png"> <a href="https://docs.google.com/forms/d/e/1FAIpQLScgkqBYNgCzKFaGWIiLQ70FY0opk67Fq88pZBzRGviB5IRrHA/viewform?usp=dialog" target="_blank">コメント(Google Formへ飛びます)</a><br/>
    </section>

    <div style="margin-left: auto; width: fit-content;">
      <table border="0">
        <tr>
          <td style="text-align:center;">
            <a href="https://github.com/hirokuma" target="_blank"><img src="/assets/images/github-mark-white.png" width="24"><br/>GitHub</a>
          </td>
          <td style="text-align:center;">
            <a href="https://x.com/hiro99ma" target="_blank"><img src="/assets/images/x-logo-white.png" width="24"><br/>X/Twitter</a>
          </td>
          <td style="text-align:center;">
            <a href="https://hirokuma.work" target="_blank"><img src="/assets/images/midorineko.png" width="24"></br>Homepage</a>
          </td>
    </div>
  </body>
</html>
