---
layout: default
---

{% if page.draft %}
<em>(書きかけ)</em>
{% endif %}

<h1>{{ page.title }}</h1>

<div class="toc"><small>
  目次
  {% if page.create %}
  <div class="date"><em>作成日:{{ page.create | date: "%Y/%m/%d" }}</em></div>
  {% endif %}
  <div class="date"><em>更新日:{{ page.date | date: "%Y/%m/%d" }}</em></div>
  {% include toc.html html=content %}
</small></div>

{{content}}

<p class="view">
  <div class="writer"">
    <small>writer: <em><a href="https://blog.hirokuma.work/aboutme.html">{{ page.author | default: site.author }}</a></em></small>
  </div>
{% if page.tags %}
  <div class="tags">
    <small>tags: <em>
  {% for tag in page.tags %}
    {% for taglist in site.tags %}
      {% if taglist.tag == tag %}
        <a href="{{ taglist.url | relative_url }}">{{ taglist.name }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
    </em></small>
  </div>
{% endif %}
</p>
